{% extends 'base_generic.html' %}

{% block content %}
    <h1 class="display-4">Autor: {{ author.last_name.upper }}, {{ author.first_name }}</h1>

<div style="margin-left: 20px; margin-top: 20px">
    <p><strong>Data Nascimento:</strong> {{ author.date_of_birth }} </p>
    <p><strong>Data Falecimento:</strong> {{ author.date_of_death }} </p>

    <h4> Livros </h4>
    <hr>
        {% for book in author.book_set.all %}
            <p><a href="{{ book.get_absolute_url }}" >{{ book.title }}</a>  
                                        - ({{ book.bookinstance_set.all.count }}) </p>
            <p>{{ book.summary | truncatewords:30}} </p>
            <hr>
            {% endfor %}
</div>
{% endblock content %}
