{% extends 'base_generic.html' %}

{% block content %}
    <h1 class="display-4">Autor: {{ author.last_name.upper }}, {{ author.first_name }}</h1>

<p><strong>Data Nascimento:</strong> xxx </p>
<p><strong>Data Falecimento:</strong> xxx </p>

<h4> Livros </h4>
<hr>
    {% for book in author.book_set.all %}
        <p><strong>Título: </strong><a href="{{ book.get_absolute_url }}" >{{ book.title }}</a></p>
        <p class="text-muted"><strong>Id:</strong> {{ book.id }}</p>
        <hr>
        {% endfor %}
</div>
{% endblock content %}
