<!--
    O padrão para nomes de templates de excusão é:
        nome-do-model com o sufixo confirm_delete mais .html logo:
        author_confirm_delete.html
-->
{% extends 'base_generic.html' %}

{% block content %}
    <h1 class="display-4" style="color: red;">Deletar Autor</h1>
    <p>Voçê realmente deseja apagar o autor: <strong> {{ author }} </strong>?</p>
        <form action="" method="post">
        {% csrf_token %}
            <input class="btn btn-xs btn-primary" type="submit" value="Excluir Autor">
            <a class="btn btn-xs btn-danger" href=" {% url 'author' %} ">Cancelar</a>
    </form>
{% endblock content %}