{% extends 'base_generic.html' %}

{% block content %}
    <h1 class="display-4">Lista de Livros</h1>
    {% if book_list %}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">Nome</th>
      {% if perms.catalog.can_mark_returned %}
        <th scope="col"></th>
        <th scope="col"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for book in book_list %}
        <tr>
            <th scope="row">{{ book.id }}</th>
            <td><a href="{{ book.get_absolute_url }}" >{{ book.title }}</a></td>
            <td>{{ book.author.last_name.upper }}</td>
            <td>{{ book.author.first_name }}</td>
            {% if perms.catalog.can_mark_returned %}
              <td><a class="btn btn-sm btn-primary" href=" {% url 'book_update' book.id %} ">Alterar</a></td>
              <td><a class="btn btn-sm btn-danger" href=" {% url 'book_delete' book.id %} ">Exluir</a></td>
            {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>
    {% comment %} <ul class="list-group">
        {% for book in book_list %}
            <li class="list-group-item">
                <a href="{{ book.get_absolute_url }}" >{{ book.title }}</a> 
                ({{ book.author.last_name.upper }}, {{  book.author.first_name }}) 
            </li>
        {% endfor %}
    </ul> {% endcomment %} 
    {% else %}
        <p><b>Não existem livros na biblioteca</b></p> 
    {% endif %}
    {% if perms.catalog.can_mark_returned %}
      <a class="btn btn-xs btn-success" href="{% url 'book_create' %}">Incluir Livro</a>
    {% endif %}
{% endblock content %}


